* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
}

.panels {
  display: flex;
  flex-direction: column;
}
.panel {
  --hue: 212;
  --lightness-base: 40;
  font-family: 'Google Sans', sans-serif;
  font-weight: bold;
  font-size: 2vmin;
  color: hsl(50 99% 50%);
  display: inline-block;
  background: hsl(var(--hue) 90% calc(var(--lightness, var(--lightness-base)) * 1%));
  overflow: hidden;
  height: 15vmin;
  width: 15vmin;
  transform-style: preserve-3d;
  perspective: 800px;
}
/*.panel:nth-of-type(1) {
  overflow: visible;
}*/
/*.panel:nth-of-type(1) .panel__content,
.panel:nth-of-type(2) .panel__content {
  background: hsl(280 80% 50% / 0.2);
  -webkit-animation: slide 3s calc(var(--delay) * 1s) infinite both linear;
  animation: slide 3s calc(var(--delay) * 1s) infinite both linear;
}*/

.panel__content {
  height: 300%;
  width: 100%;
  display: grid;
  align-items: center;
  place-items:  center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  -webkit-animation: slide 4s calc(var(--delay) * 1s) infinite both linear;
          animation: slide 4s calc(var(--delay) * 1s) infinite both linear;
}
.panel:nth-of-type(1) {
  --delay: 0;
  --lightness: var(--lightness-base);
  transform: rotateX(32deg) rotateY(-32deg) rotateX(0deg) translate3d(-61%, 81%, 0);
}
.panel:nth-of-type(2) {
  --delay: 1;
  --lightness: calc(var(--lightness-base) + 10);
  transform: rotateX(32deg) rotateY(-32deg) rotateX(-100deg) translate3d(-76%, 74%, 0);
}
.panel:nth-of-type(3) {
  --delay: 2;
  --lightness: calc(var(--lightness-base) + 5);
  transform: rotateX(32deg) rotateY(-32deg);
}
.panel:nth-of-type(4) {
  --delay: 3;
  --lightness: calc(var(--lightness-base) + 10);
  transform: rotateX(32deg) rotateY(-32deg) rotateX(-100deg) translate3d(76%, -74%, 0);
}
.panel:nth-of-type(5) {
  --delay: 4;
  --lightness: var(--lightness-base);
  transform: rotateX(32deg) rotateY(-32deg) rotateX(0deg) translate3d(61%, -81%, 0);
}
@-webkit-keyframes slide {
  from {
    transform: translate3d(0, -100%, 1px);
  }
  to {
    transform: translate3d(0, calc(100% / 3), 1px);
  }
}
@keyframes slide {
  from {
    transform: translate3d(0, -100%, 1px);
  }
  to {
    transform: translate3d(0, calc(100% / 3), 1px);
  }
}
