@import '../../node_modules/reveal.js/dist/reveal.css';
@import '../../node_modules/reveal.js/dist/theme/black.css';
@import '../../node_modules/reveal.js/plugin/highlight/monokai.css';

:root {
	--conference-hue: 18;
	--r-heading-font: 'Google Sans', sans-serif;
	--r-main-font: 'Google Sans', sans-serif;
	--r-code-font: 'JetBrains Mono', monospace;
	--r-link-color: hsl(var(--conference-hue) 100% 50%);
	--r-link-color-dark: hsl(var(--conference-hue) 100% 25%);
	--r-link-color-hover: hsl(var(--conference-hue) 100% 75%);
	--r-selection-background-color: hsl(var(--conference-hue) 100% 90%);
}

section:first-of-type h2 {
	text-decoration: underline;
	text-decoration-color: var(--r-link-color);
}

del {
	opacity: 0.5;
}

.deck__logo {
	--base-coat: hsl(0 0% 100%);
	position: fixed;
	width: 10vmin;
	bottom: 2vmin;
	left: 2vmin;
	z-index: 999;
}

.deck__logo-eye {
	animation: blink 8s infinite linear;
	transform-origin: var(--origin, 0 371px);
}

@keyframes blink {
   0%, 46%, 48%, 50%, 100% {
     transform: scaleY(1);
   }
   47%, 49% {
     transform: scaleY(0.01);
   }
}

.slide img {
	margin: 0;
}

.reveal iframe {
	border:  0;
}

.reveal sub {
	font-size: small;
	opacity:  0.75;
}

.multi-col ul {
	column-count: 2;
}

.multi-column {
	display: grid !important;
	grid-template-columns: var(--split-one, 1fr) var(--split-two, 0.65fr);
	align-items: center;
	justify-content: center;
}

.reveal.has-light-background ~ .deck__logo {
	--base-coat: hsl(0 0% 0%);
}

[data-background-iframe] .hljs {
	background: hsl(70 8% 15% / 0.85);
}

* > code {
	color: var(--r-link-color);
}

table {
	color: inherit !important;
}

.reveal table tbody tr td {
	border-bottom-color: transparent;
}

cite {
	font-style: normal;
	opacity: 0.5;
}

.perspective {
	display: inline-block;
	transform-style: preserve-3d;
	perspective: 40vmin;
}

.whitespace {
	width: 1ch;
}

.reveal .hljs {
	min-height: auto;
}

.animated-title span {
	--step:  0.1s;
	display: inline-block;
	animation: wave calc(var(--char-total) * var(--step)) calc(var(--char-index) * var(--step)) infinite;
}

.table-shot th,
.table-shot tbody {
	font-size: var(--r-heading1-size);
}

.code-wrapper {
	max-height:  80vh;
}

.reveal pre code {
	max-height: 80vh;
	white-space: pre;
}

table.hljs-ln {
	white-space: pre;
}

@keyframes wave {
	50% {
		transform: translate(0, -30%);
	}
}

.pray-hands {
  transform-style: preserve-3d;
  display: inline-block;
  transform-origin: 50% 85%;
  animation: bob 2s infinite ease-in-out;
}

.raise-hands {
	display: inline-block;
	animation: raise 0.25s infinite;
}

@keyframes raise {
	50% {
		transform: translateY(-25%);
	}
}

@keyframes bob {
	50% {
		transform: rotateX(-45deg);
	}
}

.googley {
	--color-one: #ea4335;
  --color-two: #4285f4;
  --color-three: #34a853;
  --color-four: #fbbc05;
	background: linear-gradient(90deg, var(--color-one) 0 25%, var(--color-two) 25% 50%, var(--color-three) 50% 75%, var(--color-four) 75% 100%);
	color: transparent;
	background-clip: text;
}