@import "npm:open-props/open-props.min.css";
@import "npm:open-props/normalize.min.css";

@property --ring-reveal {
  inherits: true;
  initial-value: 0%;
  syntax: '<percentage>';
}

* {
  box-sizing: border-box;
  touch-action: none;
  user-select: none !important;
}

:root {
  --ring-thickness: clamp(2rem, 2vmin, 4rem);
  --red: #ff4d00;
  --green: #38b24d;
  --yellow: #ebb624;
  --blue: #0f73ff;
  --base-speed: 1;
}
body {
  background: #f9f0e6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Google Sans', sans-serif;
}

header {
  background: var(--gray-9);
  padding: var(--size-4);
  height:  var(--size-10);
}

header span {
  font-weight: var(--font-weight-9);
  font-size: var(--font-size-fluid-1);
}

nav {
  max-inline-size: var(--size-content-3);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 1rem;
  height: 100%;
}

p {
  user-select: var(--selection, all);
}

.nav-controls {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

main {
  padding: var(--size-6) 0;
  max-inline-size: var(--size-content-3);
  flex: 1;
  width: 100%;
  margin: 0 auto;
  color: var(--gray-9);
}

.hero {
  display: grid;
  place-items: center;
  background: var(--gradient-3);
  padding: var(--size-10) 0;
}

.hero h1 {
  user-select: var(--selection, all);
}

button {
  padding: var(--size-2) var(--size-4);
  font-size: var(--font-size-4);
  color: var(--gray-0);
  transition: transform 0.1s, background 0.1s;
  background: hsl(var(--hue, 210) 60% var(--lightness, 60%));
  transform: translateY(var(--y, 0)) scale(var(--scale, 1));
}

button:hover {
  --lightness: 80%;
  --scale: 1.05;
  --y: -5%;
}
button:active {
  --lightness: 40%;
  --scale: 0.9;
  --y: 5%;
}

.sign-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: scale-in 0.5s forwards;
}

.sign-form:top-layer {
  display: grid;
  grid-gap: 1rem;
}

@keyframes scale-in {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
}

[togglepopup] {
  background: none;
  aspect-ratio: 1;
  height: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.sign-button__icon-container {
  aspect-ratio: 1;
  width: 100%;
  display: grid;
  place-items: center;
}

.sign-button__icon {
  height: 80%;
  width: 80%;
  fill: white;
}

[title="sign in"] {
  --show-sign-out: 0;
}
[title="sign out"] {
  --show-sign-out: 1;
}

.sign-button__icons {
  display: grid;
  transition: transform 0.5s;
  transform: translateY(calc(var(--show-sign-out, 0) * -50%));
}

.sign-form .sign-form__button--sign-out,
.sign-form--logout .sign-form__button--sign-in {
  display: none;
}

.sign-form--logout .sign-form__button--sign-out {
  display: block;
}

.sign-form::backdrop {
  background: hsl(0 0% 10% / 0.5);
  backdrop-filter: blur(6px);
  animation: fade-in 0.5s both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
}

.sign-form__avatar {
  height: 15vmin;
  aspect-ratio: 1;
  object-fit: cover;
  max-height: 100%;
  page-transition-tag: avatar;
  contain: paint;
  background: var(--gradient-3);
}


.sling-ring {
  height: 25vmin;
  aspect-ratio: 1;
  position: fixed;
  top: calc(var(--y, 0) * 1px);
  left: calc(var(--x, 0) * 1px);
  transform: translate(-50%, -50%) scale(var(--ring-scale, 0));
  background: none;
  padding: 0;
}

.sling-ring-container {
  background: none;
}

.sling-ring-container::backdrop {
  background: hsl(0 0% 10% / 0.85);
  backdrop-filter: blur(2px);
  /* Can't globally do this yet through the pseudo */
  /*opacity: var(--img-opacity, 0);*/
  animation: fade-in 1s both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sling-ring__activator {
  height: 100%;
  background: none;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}

.sling-ring__ring {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  transform: rotate(0deg);
  animation: var(--ring-animation-name) 10s infinite linear;
  z-index: 2;
  pointer-events: none;
}

.sling-ring__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: var(--ring-thickness);
  border-radius: 50%;
  transition: opacity calc(var(--base-speed) * 1s);
  opacity: var(--img-opacity, 0);
  pointer-events: none;
  page-transition-tag: strange;
  contain: paint;
}

.portal-message {
  display: none;
  position: fixed;
  inset: 0;
}

.portal-message--shown {
  display: grid;
  align-items: center;
}

.portal-message__message {
  position: absolute;
  z-index: 2;
  max-width: var(--size-content-3);
  text-align: center;
  font-size: var(--font-size-fluid-3);
  font-weight: var(--font-weight-9);
  color: var(--gray-0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portal-message__close {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 48px;
  aspect-ratio: 1;
  background: none;
  padding: 0;
}

.portal-message__close svg {
  height: 100%;
  aspect-ratio: 1;
  fill: var(--gray-0);
  transform: rotate(45deg);
}

.sling-ring__img--fullscreen {
  position: absolute;
  inset: 0;
  opacity: 1;
  border-radius: 0;
  padding: 0;
  filter: grayscale(1) sepia(0.25) brightness(0.25);
}

.sling-ring__particle-pen {
  aspect-ratio: 1;
  position: absolute;
  inset: 0;
  transform-origin: center;
  pointer-events: none;
  transform: rotate(calc(((360 / var(--particle-count)) * var(--index)) * 1deg));
}
.sling-ring__particle-start {
  position: absolute;
  height: var(--ring-thickness);
  aspect-ratio: 1;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%) rotate(calc((var(--clockwise, 1) * -1) * 90deg));
/*  transform: translate(-50%, 50%) rotate(-90deg);*/
  background: rgba(255,0,0,0.2);
}
.sling-ring__particle {
  height: calc(var(--size, 100) * 1%);
  aspect-ratio: 1;
  background: hsl(var(--hue, 280), 100%, calc(var(--lightness, 50) * 1%));
  position: absolute;
  top: calc(var(--x, 50) * 1%);
  left: calc(var(--y, 50) * 1%);
  transform: rotate(calc(var(--rotation, 0) * 1deg)) scale(0) translate(0, 0);
  animation-name: var(--animation-name);
  animation-duration: calc(var(--speed, 0.85) * 1s);
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-delay: calc(var(--delay, 0) * 1s);
  filter: brightness(1.25) drop-shadow(0 0 1vmin hsl(var(--hue, 280) 100% 50%));
}

.sling-ring__particle-pen--animated {
  --animation-name: blast, fade-away;
}

.sling-ring--particles-real .sling-ring__particle {
  border-radius: calc(var(--radius, 50) * 1%);
}

.sling-ring--particles-real .sling-ring__particle-start {
  background: none;
}

@keyframes ring-rotate {
  to {
    transform: rotate(calc(var(--clockwise, 1) * 360deg));
  }
}

@keyframes blast {
  from {
    transform: rotate(calc(var(--rotation, 0) * 1deg)) scale(0) translate(0, 0);
  }
  to {
    transform: rotate(calc(var(--rotation, 0) * 1deg)) scale(1.2) translate(0, calc((var(--ring-thickness) * var(--distance, 5)) * -1));
  }
}

@keyframes fade-away {
  0%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Gesture based stuff */

.gesture-indicator {
  --complete: 100;
  --mask-one: transparent;
  --mask-two: white;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  background: hsl(var(--hue, 10) 80% 50% / var(--alpha, 0.1));
  height: 6vmin;
  aspect-ratio: 1;
}

.gesture-indicator:after {
  content: '';
  position: absolute;
  inset: 0;
  border: 1vmin solid hsl(var(--hue, 10) 80% 50%);
  border-radius: 50%;
  mask: conic-gradient(var(--mask-one) calc(var(--complete) * 1%), var(--mask-two) calc(var(--complete, 0) * 1%));
}


