* {
	box-sizing: border-box;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	margin: 0;
	overflow: hidden;
	grid-auto-flow: column;
	justify-content: center;
}

.🐱,
.🍔 {
  font-size: 30vmin;
}

.🐱:before,
.🍔:before {
  display: inline-block;
  content: var(--content);
}

.🍔:before {
  --content: "🍔";
}

.🐱:before {
  --content: "🐱";
}

.🐱:has(+ .🍔):before {
  --content: "🙀";
  animation: anticipate 0.1s infinite;
}

@keyframes anticipate {
  50% {
    transform: translate(0, -5%);
  }
}
