* {
  box-sizing: border-box;
}

body {
  accent-color: hsl(120 80% 50%);
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  background: hsl(0 0% 10%);
}


.wand {
  position: fixed;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform-origin: 50% 25%;
  transform: translate(-50%, -0%) rotate(180deg);
  z-index: -1;
}

.charm {
  filter: saturate(0) brightness(10) drop-shadow(0 0 4vmin hsl(210 80% 50%));
  opacity: 0.75;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg) translateY(0) scale(0);
}

.charm--charming {
  animation:  charm 1s ease-out;
}

@keyframes charm {
  100% {
    transform: translate(-50%, -50%) rotate(0deg) translateY(-25%) scale(1.25);   
  }
}

.wand--struck {
  animation: strike 1s ease-out;
}

@keyframes strike {
  0%, 100% {
    transform: translate(-50%, -0%) rotate(180deg);
  }
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
    transform: translate(-50%, -0%) rotate(185deg);
  }
  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
    transform: translate(-50%, -0%) rotate(175deg);
  }

}

button {
  font-weight: bold;
  font-family: sans-serif;
  padding: 2vmin 4vmin;
  font-size: 10vmin;
  border-radius: 4px;
  border: 0;
  color: hsl(0 0% 100%);
  background: hsl(120 30% var(--lightness, 50%));
  transition: background 0.2s;
}

button:hover {
  --lightness: 60%;
}

button:active {
  --lightness: 40%;
}