* {
  box-sizing: border-box;
}

body {
  accent-color: hsl(120 80% 50%);
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 0.5rem;
  grid-auto-flow: dense;
}

[type="range"] {
  grid-column: 3;
}

label {
  color: hsl(0 0% 15%);
  padding: 0.25rem 0.5rem;
}

.rotation {
  grid-column: 2;
}

.min {
  grid-column: 5;
}
.max {
  grid-column: 6;
}

.current {
  grid-column: 4;
}

.current-rate {
  grid-column: 7;
}

.min-rate {
  grid-column: 8;
}

.max-rate {
  grid-column: 9;
}

label[for] {
  grid-column: 1;
}

label:nth-of-type(1),
label:nth-of-type(2),
label:nth-of-type(3),
label:nth-of-type(4),
label:nth-of-type(5){
  font-weight: bold;
  color: hsl(0 0% 98%);
  background: hsl(0 0% 15%);
  padding: 0.5rem;
}

label:nth-of-type(4),
label:nth-of-type(5){
  grid-column: span 3;
}

button {
  grid-column: 1 / -1;
  font-weight: bold;
  font-family: sans-serif;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 4px;
  border: 0;
  color: hsl(0 0% 100%);
  background: hsl(120 50% var(--lightness, 50%));
  transition: background 0.2s;
}

button:hover {
  --lightness: 60%;
}

button:active {
  --lightness: 40%;
}